<div class="gallery-section">
  <h2 class="gallery-section__title">Few Photos of my life</h2>
  <div class="gallery">
    <a href="/assets/img/gallery/image1.jpg"
       class="gallery__item"
       data-pswp-width="1200"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image1.jpg" alt="Gallery Image 1" class="gallery__img" />
      <div class="gallery__caption">Forest view</div>
    </a>
    <a href="/assets/img/gallery/image2.jpg"
       class="gallery__item"
       data-pswp-width="1200"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image2.jpg" alt="Gallery Image 2" class="gallery__img" />
      <div class="gallery__caption">Fern in hand</div>
    </a>
    <a href="/assets/img/gallery/image3.jpg"
       class="gallery__item"
       data-pswp-width="800"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image3.jpg" alt="Gallery Image 3" class="gallery__img" />
      <div class="gallery__caption">Avatar</div>
    </a>
    <a href="/assets/img/gallery/image2.jpg"
       class="gallery__item"
       data-pswp-width="1200"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image2.jpg" alt="Gallery Image 4" class="gallery__img" />
      <div class="gallery__caption">Nature close-up</div>
    </a>
    <a href="/assets/img/gallery/image1.jpg"
       class="gallery__item"
       data-pswp-width="1200"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image1.jpg" alt="Gallery Image 5" class="gallery__img" />
      <div class="gallery__caption">Landscape view</div>
    </a>
    <a href="/assets/img/gallery/image3.jpg"
       class="gallery__item"
       data-pswp-width="800"
       data-pswp-height="800">
      <img src="/assets/img/gallery/image3.jpg" alt="Gallery Image 6" class="gallery__img" />
      <div class="gallery__caption">Profile photo</div>
    </a>
  </div>
</div>